body {
    background-color: $body-base-color;
}

.btn-primary {
    background-color: $blue;
}

.badge-primary {
    background-color: $blue;
    border-radius: 1rem;
}

.btn-danger {
    background-color: $white;
    color: #e3342f;
}

.card-header {
    background-color: $white;
    border: none;
}

.card-footer {
    background-color: $white;
}
